@import './variables.scss';
@import '~bootstrap/scss/bootstrap.scss';

@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,900|Roboto:300,400,700,900&display=swap");

@import './forms.scss';
@import './modals.scss';

/* Global */
body {
  margin: 0;
  font-family: "Rubik";
  color: #211012;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", Sans-serif;
  font-weight: 300;
}

p {
  color: rgb(31, 15, 17);
  font-weight: 400;
  line-height: 1.4;
}

a,
.text-info {
  font-weight: 500;
  color: theme-color("info");

  &:hover,
  &:focus {
    // font-weight: bold; //removed this and added opacity to resolve layout issues.
    opacity: 0.6;
    color: theme-color("info-hover");
    text-decoration: none;
  }

  &.cancel {
    margin: 0 20px 0 0;
  }
}

.btn-primary,
.btn-secondary {
  color: white;
  font-size: 16px;
  font-weight: 400;
  padding: 12px 25px;
  border-radius: 6px;
  border: 0;
}

.btn-primary {
  &:hover,
  &:focus {
    color: white;
    background-color: theme-color("secondary");
  }
}

.module {
  background: rgb(255, 255, 255);
  border-radius: 11px;
  padding: 35px;
  margin-bottom: 20px;
}

.table-client {
  thead {
    th {
      border: 0;
      font-weight: 500;
    }
  }

  tbody {
    td {
      border: 0;
    }
  }
}
